{{ form_start(form) }}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        {{ form_widget(form) }}
                    </div>
                    <div class="card-footer bg-light border-top">
                        <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
