{% extends 'base3.html.twig' %}

{% block title %}Calendar{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /* Ajoutez vos styles personnalisés ici */
        #calendar {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .fc-event {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
        }

        .fc-event:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="calendar"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var data = {{ data | raw }};

            var events = [];
            data.forEach(function(event) {
                events.push({
                    id: event.id,
                    title: event.nom,
                    start: event.date,
                    end: event.heure,
                    nbreparticipants: event.nbreparticipants,
                    lieu: event.lieu,
                    type: event.type,
                    organisateur: event.organisateur,
                    prix: event.prix
                });
            });

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: events
            });

            calendar.render();
        });
    </script>
{% endblock %}
