{% extends 'base2.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block table %}
<div class="container-fluid bg-light py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card border-primary">
                <div class="card-header bg-primary text-white">
                    <h2 class="card-title mb-0">Edit User</h2>
                </div>
                <div class="card-body">
                    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
            </div>

            <div class="text-center mt-4">
                <a href="{{ path('app_user_index') }}" class="btn btn-outline-primary">Back to User List</a>
            </div>

            <div class="card mt-4 border-danger">
                <div class="card-body">
                    <div class="text-right">
                        {{ include('user/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
